@import '../responsive';
@import '../variables';

footer {
    background-color: #F7FBFA;
    padding:1.5rem 0;
    @include for-tablet-landscape-up {
        padding:1.5rem 0 1.25rem 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-flow:column nowrap;
        align-items: center;
        @include for-tablet-portrait-up {
            flex-flow:row nowrap;
            align-items: flex-start;
        }

        .left-mention {
            font-size: 0.875rem;
            line-height: 1rem;
            text-align: center;
            color:#536E6A;
            @include for-phone-only {
               margin-top: 0.875rem;
               order:2;
            }
        }

        .footer-nav {
            a {
                font-size: 0.875rem;
                line-height: 0.5rem;
                text-align: center;
                color:#000;
                text-decoration: none;
            }

            a:hover {
                color:$green;
            }
        }

    }
}