@font-face {
    font-family: 'Campton';
    src: url('../fonts/campton-medium.woff2') format('woff2'),
        url('../fonts/campton-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('../fonts/campton-thin.woff2') format('woff2'),
        url('../fonts/campton-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('../fonts/campton-extralight.woff2') format('woff2'),
        url('../fonts/campton-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('../fonts/campton-book.woff2') format('woff2'),
        url('../fonts/campton-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('../fonts/campton-bold.woff2') format('woff2'),
        url('../fonts/campton-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('../fonts/campton-light.woff2') format('woff2'),
        url('../fonts/campton-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Damion';
    src: url('../fonts/damion.woff2') format('woff2'),
        url('../fonts/damion.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

