@import './responsive';

$font-family: 'Campton', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-quote: 'Damion', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$green: #22A09B;
$pink: #E9ACAE;
$yellow: #FFE24E;


$grid-gutter: 2rem; // 32px